<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}"  rel="stylesheet">

    <title th:include=":: #pageTitle">>${title} Hello, Spring Boot!</title>
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="menu(menu)">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${menu} == 'home'? 'active'" href="#" th:href="@{/}">
                                    홈 <span class="sr-only" th:if="${menu} == 'home'"></span>
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" th:classappend="${menu} == 'board'? 'active'" href="#" th:href="@{/board/list}">
                                    게시판 <span class="sr-only" th:if="${menu} == 'board'"></span>
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" th:classappend="${menu} == 'deck'? 'active'" href="#" th:href="@{/deck/deckList}">
                                    덱 <span class="sr-only" th:if="${menu} == 'deck'"></span>
                                </a>
                            </li>
                        </ul>
<!--                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                        <a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/account/login}"
                           sec:authorize="!isAuthenticated()">로그인</a>
                        <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/account/register}"
                           sec:authorize="!isAuthenticated()">회원가입</a>
                        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                            <!--                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                            <span class="text-white" sec:authentication="name">사용자</span>
                            <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>